<!--<html>
    <body>
        <h1 style="text-align: center; color: white;"><b>Submit Successfully!!!</b></h1>
    <ul>    
    <li>{{userData.fname}}</li>
    <li>{{userData.lname}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.mob}}</li>
</ul> 
    </body>
</html>-->

<html>
<body>
 <h1>Submit Successfully!!!</h1>   
<h3>
    First Name : {{data5.fname}}
</h3>

<h3>
    Last Name : {{data5.lname}}

</h3>


<h3>
    Email : {{data5.email}}

</h3>


<h3>
    Mobile No : {{data5.Mob}}

</h3>
</body>
</html> 